{% extends 'layout.html' %}

{% block content %}
<style>
    body {
        background-color: #f2f2f2;
        color: #333;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        width: 600px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    h1 {
        font-size: 24px;
        color: #333;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    li {
        margin-bottom: 10px;
    }

    a {
        color: #333;
        text-decoration: none;
    }

    a:hover {
        color: #45a29e;
    }

</style>
<div class="container">
    <h1>All Flights</h1>
    <ul>
        {% for flight in flights %}
            <li>
                <a href="{{ url_for('book_flight', flight_id=flight.id) }}">
                    Flight from {{ flight.location }} to {{ flight.destination }} on {{ flight.date }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
